<h1> this is my dynamic file of .j2 format </h2>
<h1>{{ansible_os_family}}</h2>
<h1>this is node ip is : {{ansible_all_ipv4_addresses}} </h2>
<h1> this is node status is : {{ansible_apparmor}}</h2>
<h1> this is node version is : {{ansible_bios_version}}</h2>
<h1> this is node archieture is : {{ansible_architecture}} </h2>
