<h1> this is my dynamic file of .j2 format </h1>
<h1>this is node ip is : {{ansible_all_ipv4_addresses}} </h1>
<h1> this is node status is : {{ansible_apparmor}}</h1>
<h1> this is node version is : {{ansible_bios_version}}</h1>
<h1> this is node archieture is : {{ansible_architecture}} </h1>
