<h1> this is node os is : {{ ansible_os_family }} </h1>

<h1>this is node ip is : {{ ansible_all_ipv4_addresses}} </h1>

<h1> this is node architecture is : {{ ansible_architecture }} </h1>

<h1> this is node ip6 is : {{ ansible_all_ipv6_addresses }} </h1>

<h1> this is node version is : {{ ansible_bios_version }} </h1>
